<div class="container">
    <div class="sidebar-separate">
        <div class="sidebar">
            <h2 class="logo">ACEM-Company</h2>
            <ul class="menu">
                <li class="menu-item" appActiveLink="/dashboard/analysis" [exactMatch]="false">
                    Statistics & Reports

                    <i class="ti-angle-down"></i>
                    <ul class="dropdown" >
                        <li class="dropdown-item" routerLink="/dashboard/analysis/total-earning" >Total Earning</li>
                        <li class="dropdown-item">Vacations Day</li>
                        <li class="dropdown-item">Average Benefits</li>
                    </ul>
                </li>
    
                <li class="menu-item" appActiveLink="/dashboard/stake-holder" [exactMatch]="false">
                    Stakeholder
                    <i class="ti-angle-down"></i>
                    <ul class="dropdown">
                        <li class="dropdown-item" routerLink="/dashboard/stake-holder/employees" >Employee</li>
                        <li class="dropdown-item">Vacation Management</li>
                    </ul>
                </li>
    
                <li class="menu-item">
                    Notifications
                    <i class="ti-angle-down"></i>
                    <ul class="dropdown">
                        <li class="dropdown-item">Days Off Exceed</li>
                        <li class="dropdown-item">Birthday</li>
                        <li class="dropdown-item">Changed benefit</li>
                        <li class="dropdown-item">Hiring Anniversary</li>
                    </ul>
                </li>
    
                <li class="menu-item">Setting</li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header class="header">
            <div class="search-bar">
                <form>
                    <input type="text" placeholder="Customer" />
                </form>
            </div>
            <div class="profile">
                <span class="notification-icon">&#128276;</span>
                <div class="user">SinhNguyen</div>
            </div>
        </header>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>